.header {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  padding: 2em 0;
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.2;
    margin: 0.25em 0;
    color: #454545;
    font-weight: normal;
  }

  &__image_container {
    margin-right: 2rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &:hover {
      label {
        opacity: 1;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    form {
      label {
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);

        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: #fff;
          margin: 0.25rem;

          &:nth-of-type(1) {
            height: 1rem;
            width: 1rem;
          }

          &:nth-of-type(2) {
            height: 2rem;
            width: 2rem;
          }
        }
      }
      input {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    display: flex;
    align-items: flex-start;

    & > *:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  &__button {
    cursor: pointer;
    border-color: rgb(29, 90, 202);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    &_follow {
      color: #fff;
      font-weight: bold;
      background-color: rgb(29, 90, 202);
    }
    &_unfollow {
      color: rgb(29, 90, 202);
      font-weight: bold;
    }
  }

  &__statistic {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.photos {
  text-align: center;
  max-width: 85rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;

  .skeleton {
    grid-column: 1 / -1;
  }

  h2 {
    grid-column: 1 / -1;
  }

  &__photoContainer {
    position: relative;
    // max-width: 27rem;

    &:hover {
      .photos__buttonContainer {
        opacity: 1;
      }
    }
  }

  &__imageContainer {
    height: 40rem;

    background-color: #ccc;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__buttonContainer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.15s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 1.5em;
    svg {
      height: 3rem;
      width: 3rem;
    }
  }
}

.toggleNewPostPopup {
  cursor: pointer;
  border-color: rgb(29, 90, 202);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: #fff;
  font-weight: bold;
  background-color: rgb(29, 90, 202);
}
