.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.1rem 1rem #e4e4e4;
  padding: 0.25em 0;

  &__profile {
    &_link {
      overflow: hidden;
      display: block;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__logo {
    max-width: 12rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;

    display: flex;
    align-items: center;
    a {
      color: inherit;
      text-decoration: none;

      h2 {
        white-space: nowrap;
        padding: 0.2em 0;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    &_dashboard,
    &_logout {
      cursor: pointer;
      background: transparent;
      border: 0;
      color: #333;
      margin: 0 0.5em;
    }
    &_dashboard {
      height: 2.15rem;
      width: 2.15rem;
    }

    &_logout {
      height: 1.75rem;
      width: 1.75rem;
    }
  }
}

.button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.35em;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

  &__login:link,
  &__login:visited {
    text-decoration: none;
    background-color: rgb(29, 90, 202);
    color: #fff;
    transition: background-color 0.1s;

    &:hover {
      background-color: rgba(0, 62, 177, 1);
    }
  }

  &__signup:link,
  &__signup:visited {
    text-decoration: none;
    color: rgb(29, 90, 202);
    transition: color 0.1s;

    &:hover {
      color: rgba(0, 54, 153, 1);
    }
  }
}

.container {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
