.container {
  max-width: 50rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 3rem;
  box-shadow: 0 0 3rem #ddd;

  .header {
    background-color: #fff;
    display: flex;
    padding: 0.5em;

    .image_container {
      height: 4rem;
      max-width: 4rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .author_info_container {
      padding: 0 0.5em;
    }
    .username {
      font-size: 1.5rem;
    }
    .posted {
      font-size: 1.3rem;
    }
  }

  .post_image_container {
    display: flex;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.info {
  padding: 0.5em;
  &__button {
    cursor: pointer;
    margin: 0.25em;
    background: none;
    border: 0;
    font-size: 2rem;
  }

  &__statistic {
    display: flex;

    p:not(:first-child) {
      margin-left: 0.25em;
    }
  }
}
