.container {
  background-color: #fff;
  max-width: 50rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 3rem;
  box-shadow: 0 0 3rem #ddd;

  @media screen and (max-width: 54rem) {
    flex-direction: column;
    max-height: none !important;
    margin-bottom: 0;
  }

  .header {
    background-color: #fff;
    display: flex;
    padding: 0.5em;

    .image_container {
      height: 4rem;
      max-width: 4rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .author_info_container {
      padding: 0 0.5em;
    }
    .username {
      font-size: 1.5rem;
    }
    .posted {
      font-size: 1.3rem;
    }
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
  }

  .post_image_container {
    // // display: flex;
    img {
      max-height: 100vh;
      // width: 100%;
      // max-width: 100%;
      object-fit: cover;
      object-position: center;

      @media screen and (max-width: 54rem) {
        max-height: max-content;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
.toggleComments {
  text-align: left;
  cursor: pointer;
  border: 0;
  background: none;
  font-weight: bold;
  color: #666;
}

.info {
  padding: 0.5em;
  word-break: break-word;

  &__button {
    cursor: pointer;
    margin: 0.25em;
    background: none;
    border: 0;
    font-size: 2rem;
  }

  &__statistic {
    display: flex;

    p:not(:first-child) {
      margin-left: 0.25em;
    }
  }

  &__form {
    margin-top: 0.5em;
    display: flex;
    &_input {
      flex: 1;
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 0.25em 0 0 0.25em;
      transition: border-color 0.15s;

      &:focus {
        border-color: #666;
        outline: none;
      }
    }
    &_button {
      white-space: nowrap;
      font-weight: bold;
      padding: 0.25em 0.75em;
      cursor: pointer;
      background: none;
      border: 0;
      border-radius: 0 0.25em 0.25em 0;
      background-color: #eee;
      transition: background-color 0.15s;

      &:hover,
      &:focus {
        background-color: #ccc;
      }
    }
  }
}
